FIREBASE_API_KEY=TWOJ_API_KEY
FIREBASE_AUTH_DOMAIN=TWOJ_PROJEKT.firebaseapp.com
FIREBASE_DATABASE_URL=https://TWOJ_PROJEKT-default-rtdb.europe-west1.firebasedatabase.app
FIREBASE_PROJECT_ID=TWOJ_PROJEKT
FIREBASE_STORAGE_BUCKET=TWOJ_PROJEKT.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=TWOJ_SENDER_ID
FIREBASE_APP_ID=TWOJ_APP_ID
